.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
}

.callback-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 12px;
}
.callback-pretitle {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.callback-thumb,
.callback-thumb-comments {
  display: flex;
  flex-direction: column;
  color: var(--title-color);
  margin-bottom: 10px;
}

.callback-input-box .callback-input,
.comments {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 10px;
  outline-width: 0px;
}
.callback-thumb-comments {
  margin-bottom: 20px;
}
.comments {
  resize: none;
  transition: border-color var(--transition-timing) var(--cubic-bezier-first);
}
.callback-input-box {
  position: relative;
}
.callback-thumb .icon,
.callback-thumb-comments .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  fill: currentColor;
  transition: color var(--transition-timing) var(--cubic-bezier-first);
}
.callback-input-box .callback-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: color var(--transition-timing) var(--cubic-bezier-first);
  transition: border-color var(--transition-timing) var(--cubic-bezier-first);
}

.icon-close {
  fill: currentColor;
}

.btn-close:hover,
.btn-close:focus {
  color: var(--brand-primary-color);
}
.callback-input-box > .callback-input:focus,
.callback-thumb-comments > .comments:focus {
  transition: border-color var(--transition-timing) var(--cubic-bezier-first);
  border-color: var(--brand-primary-color);
}
.callback-input:focus + .icon {
  transition: color var(--transition-timing) var(--cubic-bezier-first);
  color: var(--brand-primary-color);
}

.callback-form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow var(--transition-timing) var(--cubic-bezier-first);
}
.callback-form .button:hover,
.callback-form .button:focus {
  transition: box-shadow var(--transition-timing) var(--cubic-bezier-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.license {
  margin-bottom: 30px;
}
.license-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.license-link {
  display: inline-block;
  color: var(--brand-primary-color);
}
.license-agrements {
  line-height: 1.71;
}
.checkbox-icon {
  /* display: inline-block;
  width: 16px;
  height: 15px; */

  border: 2px solid var(--title-color);
  border-radius: 2px;

  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* background-color: var(--white-color);
  background-image: url("../images/check.svg"); */
  /* background-size: contain;
  background-origin: border-box; */
}
.license-checkbox:focus + .checkbox-icon,
.license-checkbox:hover + .checkbox-icon {
  border-color: var(--brand-primary-color);
}

.license-checkbox:checked + .checkbox-icon {
  background-color: var(--brand-primary-color);
  border-color: transparent;
}
