.filter,
.positions,
.our-team-icon-box {
  list-style: none;
}

body {
  color: var(--body-color);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  letter-spacing: 0.03em;
}

.title,
.name,
.name-of-position {
  color: var(--title-color);
}

.button {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--brand-primary-color);
  border: transparent;
  border-radius: 4px;
}

.set-of-buttons,
.set-of-cards {
  display: flex;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-primary-color);
  position: absolute;
  left: 0;
  bottom: -2px;
}
.current {
  color: var(--brand-primary-color);
}
