:root {
  --brand-primary-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-color: #757575;
  --background-color: #2f303a;
  --title-color: #212121;
  --white-color: #ffffff;
  --our-team-color: #f5f4fa;
  --second-button-color: #188ce8;
  --border-cards-color: #eeeeee;
  --border-header-color: #ececec;
  --icons-first-color: #afb1b8;
  --cubic-bezier-first: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing: 250ms;
}
